<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <Link rel="stylesheet" href="style.css">
    <meta name="google-signin-scope" content="profile email">
    <!-- placement of clientID here to enable access to Google sign-in API features -->
    <meta name="google-signin-client_id" content="831072643384-se24lmircg13kuugodbcvjtatgm77uoh.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- api js: core JS library -->
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <title>ZenBro</title>
  </head>
  <body ng-app="zen" ng-controller="MainCtrl">
    <header>
      <img src="img/zenguru.png"></img>
      <div class="heading">
        <h1>Zen Bro{{brofix}}</h1>
        <h3 ng-show="isAuthorized()">Welcome back, Zen {{user.firstName}}!</h3>
        <h3 ng-hide="isAuthorized()">Welcome!</h3>
      </div>
    </header>

    <div align="center" ng-view></div>
    <div id="ghost-click" ng-click="ghost()"></div>

    <footer>
      <div ng-class="isHidden()">
      </div>
      <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Zen Bro</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
              <li ng-class="isActive('/')"><a href="#">Home</a></li>
              <li ng-class="isActive('/journey')" ng-show="isAuthorized()"><a href="#/journey">Journey</a></li>
              <li ng-class="isActive('/settings')" ng-show="isAuthorized()"><a href="#/settings">Settings</a></li>
              <li ng-class="isActive('/video')" ng-show="isAuthorized()"><a href="#/video">Video</a></li>
            </ul>
            <div class="navbar-form navbar-right">
              <div ng-hide="isAuthorized()" class="g-signin2" data-onsuccess="onSignIn"></div>
              <button ng-show="isAuthorized()" type="submit" class="btn btn-default" ng-click="signOut()">Sign Out</button>
            </div>
          </div>
        </div>
      </nav>
    </footer>

    <!-- TODO Change to minified js files before push to prod-->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="lib/Chart.min.js"></script>
    <script src="lib/angular-chart.min.js"></script>

    <!-- services -->
    <script src="/services/auth.js"></script>
    <script src="/services/services.js"></script>

    <!-- constrollers -->
    <script src="/home/home.js"></script>
    <script src="/journey/journey.js"></script>
    <script src="/settings/settings.js"></script>
    <script src="/video/video.js"></script>
    <script src="/video/video-helpers.js"></script>
    <script src="/video/signaling.js"></script>
    <script src="/video/main.js"></script>

    <!-- app module -->
    <script src="app.js"></script>

    <script>
      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();

        var user = {
          name: profile.getName(),
          firstName: profile.getGivenName(),
          lastName: profile.getFamilyName(),
          email: profile.getEmail()
        };

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        // console.log("ID Token: " + id_token);

        $.post('/api/users', user, function() {});
        window.localStorage.setItem('com.zen', id_token);
        window.localStorage.setItem('user', JSON.stringify(user));
        document.getElementById('ghost-click').click();
      };
    </script>

    <script>
      gapi.load('auth2', function(){
          gapi.auth2.init();
        });
    </script>

    <!--  Video Streaming Sources - move to home.js controller or factory -->
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

  </body>
</html>
