/*
#fff7e8 - background
#fff9d6 - bit darker
#512690 - purpleish main
#ffbbbf - salmon
#ff907c - darker salmon - text
#ffcf97 - orangy
#00ffc9 - green darker
#baffa0 - green lighter

background: linear-gradient(to left, #ee0979 , #ff6a00);
background: linear-gradient(rgba(245, 245, 220, 0.98), #82ccc8));
*/

html, body {
  height: 100%;
}

body {
  box-sizing: border-box;
  background-color: rgba(245, 245, 220, 0.4);
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

header {
  background-color: #fed587;
  background: linear-gradient(#fed587, #fbfbf1);
  padding: 20px 40px;
  text-align: center;
}

header img {
  margin-right: 20px;
}

header img, .heading {
  display: inline-block;
}

iframe {
  margin: 10px;
  width: 500px;
  max-width: 100%;
}

.view-body {
  /*min-height: 60%;*/
  color: #656565;
}

.heading {
  vertical-align: middle;
}

.subtext {
 font-size: 14px;
}

.jumbotron {
  margin-bottom: 0;
  background: none;
}

.navbar {
  margin-bottom: 0;
}

.dropdown {
  margin-top: 10px;
}

.break-select{
  border: 1px solid #111;
  background: transparent;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.centered-cell {
  display: table-cell;
  vertical-align: middle;
}

#timer, #break{
  display: table;
}

#time, #break {
  min-height: 50%;
}

#timer {
  /*height: 60%;*/
}

#break {
  padding: 20px 0;
}

#time {
  padding: 20px;
}

#options * {
  display: inline-block;
}

.page-footer {
  height: 100px;
  margin-bottom: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#waves-container, .page-footer {
  background-color: #82ccc8;
  background: linear-gradient(#fbfbf1, #82ccc8);
  padding: 0;
  margin-bottom: 50px;
}

.wave {
  width: 10%;
}

.wave-large {
  width: 20%;
}

#graph {
  background-color: white;
}

#login-title {
  font-family: "Indie Flower";
  font-size: 72px;
  font-weight: bold;
  color: 49752B;
  margin: 50px 0px 50px 0px;
}

#login-splash {
  width: 100%
}

.start {
  color: lightgreen;
}

.pause {
  color: red;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#settingContainer {
  padding: 5%
}

#chart-container {
  margin: 30px 0px 30px 0px;
}

.container {
  width: 35%;
  /*background-color: #f2f2f2;*/
  background-color: #82ccc8;
  border: 1px solid #ccc;
  padding: 20px;
  top: 20px;
  -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
}


/*   VIDEO   */

video {
  margin: 10px;
  width: 700px;
  max-width: 100%;
}

#video-container {
  padding: 30px;
}

#video-controls > * {
  display: inline-block;
}

.video-connected {
  position: absolute;
  width: 200px;
}

.hidden {
  display: none;
}

.form-control {
  width: 150px;
}

#startTime, #repeatDay, #endTime, #breakType {
  width: 40%;
}