body {
  background: beige;
}

h1, h2, h3, h4, p {
  margin: 0;
}

#homeHeader {
  background-color: #fed587;
}

.nav, .header {

}

.nav {
  float: right;
}

.header {
  text-align: center;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
