<div ng-controller='HomeCtrl'>
  <div class="header">
    <h1>ZenBro</h1>
    <h3>Welcome back ZenCuz!</h3>
  </div>

  <div id="home-container">
    <div class="clearfix">
      <div id="time" class="jumbotron">
        <h1>Time</h1>
      </div>
      <div id="break" class="jumbotron">
        <h2 ng-model="breakType">{{break.type}}</h2>
        <h1>{{break.title}}</h1>
        <p>{{break.description}}</p>
        <p>
          <a class="btn btn-primary btn-lg" role="button" ng-click="completeBreak($breakType)">Completed</a>
        </p>
        <p>
          <a class="btn btn-primary btn-lg" role="button" ng-click="notCompleteBreak($breakType)">Skipped</a>
        </p>
      </div>
    </div>
  </div>

  <div id="someFunkyDiv" class="jumbotron">
    <h2>Some funky div</h2>
  </div>

  <footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Zen Bro</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
          <div class="navbar-form navbar-right">
            <button type="submit" class="btn btn-default" onclick="signOut()">Logout</button>
          </div>
        </div>
      </div>
    </nav>
  </footer>
</div>
<!--   <div id="completed">
    <h2>Mental Breakdown{{': ' + mentalPercent.Yes + '% Complete!'}}</h2>
  </div>
  <div class="progress">
    <div id="mental-yes" class="progress-bar progress-bar-success" style="width: 0%">
    </div>
    <div id="mental-no" class="progress-bar progress-bar-warning progress-bar-info" style="width: 0%">
    </div>
  </div>
  <div id="completed">
    <h2>Physical Breakdown{{': ' + physicalPercent.Yes + '% Complete!'}}</h2>
  <div class="progress">
    <div id="physical-yes" class="progress-bar progress-bar-success" style="width: 0%">
    </div>
    <div id="physical-no" class="progress-bar progress-bar-warning progress-bar-info" style="width: 0%">
    </div>
</div>
  <table id="break-count" class="table">
<thead>
  <tr>
    <th>Break Type</th>
    <th>Completed</th>
    <th>Not Completed</th>
    <th>% Complete</th>
    <th>% Incomplete</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Physical</td>
      <td>{{physicalBreakCount.Yes}}</td>
      <td>{{physicalBreakCount.No}}</td>
      <td>{{physicalPercent.Yes}}</td>
      <td>{{physicalPercent.No}}</td>
    </tr>
    <tr>
      <td>Mental</td>
      <td>{{mentalBreakCount.Yes}}</td>
      <td>{{mentalBreakCount.No}}</td>
      <td>{{mentalPercent.Yes}}</td>
      <td>{{mentalPercent.No}}</td>
    </tr>
  </tbody>
</table> -->
