<div ng-controller='HomeCtrl'>
  <div class="header">
    <h1>Zen Bro{{brofix}}</h1>
    <h3>Welcome back, Zen Cuz!</h3>
  </div>

  <div id="home-container">
    <div class="clearfix">
      <div id="time" class="jumbotron">
        <div id="guru">
          <div id="options">
            <p>Your Zen Guru is: </p>
            <select
              name="masters"
              ng-options="option.guru for option in masters.options track by option.id"
              ng-model="masters.selected"
              class="break-select">
            </select>
            <p> with </p>
            <select
              name="focus"
              ng-options="option.focus for option in focus.options track by option.id"
              ng-change="timer.reset()"
              ng-model="focus.selected"
              class="break-select">
            </select>
            <p> focus</p>
          </div>
          <div id="subtext">
            <p><span class="subtext">{{masters.selected.text}} with a break every {{focus.selected.text}}</span></p>
          </div>
        </div>
        <div id="timer">
          <h1>{{timer.displayTime()}}</h1>
          <div>
            <button type="submit" class="btn btn-default" ng-click="timer.start()">Start</button>
            <button type="submit" class="btn btn-default" ng-click="timer.pause()">Pause</button>
            <button type="submit" class="btn btn-default" ng-click="timer.reset()">Reset</button>
          </div>
        </div>
      </div>
      <!--    Take a berak section    -->
      <div id="break" class="jumbotron">
        <div id="up-next">
          <p>
            Up Next:
            <br/>
            Zen Short - Mental Break
          </p>
        </div>
        <h2 ng-model="breakType">{{break.type}}</h2>
        <h1>{{break.title}}</h1>
        <p>{{break.description}}</p>
        <div class="btn-group">
          <a class="btn btn-primary btn-lg" role="button" ng-click="completeBreak()">Complete</a>
          <a class="btn btn-primary btn-lg" role="button" ng-click="skipBreak()">Skip</a>
        </div>
      </div>
    </div>
  </div>

  <div id="waves-container" class="jumbotron">
    <img id="wave-1" ng-src="../img/{{wave.getSource(0)}}" class="wave">
    <img id="wave-2" ng-src="../img/{{wave.getSource(1)}}" ng-class="{blue:'wave', white:'wave-large'}[focus.selected.focus]">
    <img id="wave-3" ng-src="../img/{{wave.getSource(2)}}" class="wave">
    <img id="wave-4" ng-src="../img/{{wave.getSource(3)}}" class="wave-large">
  </div>
  <div id="video" class="jumbotron">
    <h2>Break with a Bro</h2>
  </div>
</div>
<!--   <div id="completed">
    <h2>Mental Breakdown{{': ' + mentalPercent.Yes + '% Complete!'}}</h2>
  </div>
  <div class="progress">
    <div id="mental-yes" class="progress-bar progress-bar-success" style="width: 0%">
    </div>
    <div id="mental-no" class="progress-bar progress-bar-warning progress-bar-info" style="width: 0%">
    </div>
  </div>
  <div id="completed">
    <h2>Physical Breakdown{{': ' + physicalPercent.Yes + '% Complete!'}}</h2>
  <div class="progress">
    <div id="physical-yes" class="progress-bar progress-bar-success" style="width: 0%">
    </div>
    <div id="physical-no" class="progress-bar progress-bar-warning progress-bar-info" style="width: 0%">
    </div>
</div>
  <table id="break-count" class="table">
<thead>
  <tr>
    <th>Break Type</th>
    <th>Completed</th>
    <th>Not Completed</th>
    <th>% Complete</th>
    <th>% Incomplete</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Physical</td>
      <td>{{physicalBreakCount.Yes}}</td>
      <td>{{physicalBreakCount.No}}</td>
      <td>{{physicalPercent.Yes}}</td>
      <td>{{physicalPercent.No}}</td>
    </tr>
    <tr>
      <td>Mental</td>
      <td>{{mentalBreakCount.Yes}}</td>
      <td>{{mentalBreakCount.No}}</td>
      <td>{{mentalPercent.Yes}}</td>
      <td>{{mentalPercent.No}}</td>
    </tr>
  </tbody>
</table> -->
