<div class="view-body">
  <div id="video-container" class="jumbotron">
    <h2>Zête-à-zête</h2>
    <div id="video-controls">
      <input class="form-control" type="text" id="room-name" placeholder="Room name"/>
      <button class="btn" ng-click="start()" id="start-button">Start</button>
      <button class="btn" ng-click="join()" id="join-button">Join</button>
      <button class="btn" ng-click="hangup()" id="hangup-button">Hang Up</button>
    </div>
    <div>
      <video id="local-video" autoplay muted></video>
      <video id="remote-video" class="hidden" autoplay></video>
    </div>
    <br/>
    <a href="https://webrtc.org/" title="Credits" target="blank">Built with WebRTC</a>
  </div>
</div>
