body {
  background: beige;
}

#login-title {
  font-family: "Indie Flower";
  font-size: 72px;
  font-weight: bold;
  color: 49752B;
  margin: 50px 0px 50px 0px;
}

#login-splash {
  width: 100%
}

#zenImage, .login-container {
  float: left;
  width: 70%;
  height: 100%;
}


#zenImage {
  background: beige;
  padding: 40px;
  float: left;
}

.g-signin2 {
  margin-top: 50px;
}
