<div ng-controller="SettingsCtrl">
  <h3>Settings</h3>
  <div class="container">
    <form novalidate>
      <div class="form-group">
        <label for="daySetting">Day</label>
        <select ng-model="repeatDay" class="form-control" id="repeatDay">
          <option>Mon</option>
          <option>Tues</option>
          <option>Wed</option>
          <option>Thurs</option>
          <option>Fri</option>
          <option>Sat</option>
          <option>Sun</option>
        </select>
      </div>
      <div>
        <label for="repeatInterval">Repeat Every : </label>
        <input type="time" id="repeatInterval" name="input" ng-model="repeatInterval" placeholder="HH:mm:ss" required />
      </div>
      <div class="form-group">
        <label for="excerciseType">Break Duration</label>
        <select class="form-control" id="excerciseType">
          <option>Blue</option>
          <option>White</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">Set custom theme for App</label>
        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">Choose a image or picture to set as backgound image or theme for your app profile.</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>