<div class="view-body">
  <div ng-model="viewSetting" class="container">
    <button ng-click="showEdit=!showEdit" class="btn btn-primary">{{showEdit ? "View Setting" : "Edit Setting"}}</button>
    <table ng-show="!showEdit" ng-model="settingData">
      <thead>
        <td>Day</td>
        <td>Start Time</td>
        <td>End Time</td>
        <td>Type of Break</td>
      </thead>
      <tr>
        <td>{{settingData.day}}</td>
        <td>{{settingData.startTime}}</td>
        <td>{{settingData.endTime}}</td>
        <td>{{settingData.breakType}}</td>
      </tr>
    </table>
  </div>
  <div class="container" ng-show="showEdit">

    <form novalidate ng-submit="update(day, startTime, endTime, breakType)" >
      <div class="form-group">
        <label for="daySetting">Day</label>
        <select ng-model="day" class="form-control" id="repeatDay">
          <option>Mon</option>
          <option>Tues</option>
          <option>Wed</option>
          <option>Thurs</option>
          <option>Fri</option>
          <option>Sat</option>
          <option>Sun</option>
        </select>
      </div>
      <div>
        <label for="startTime">From: </label>
        <input type="time" id="startTime" name="input" ng-model="startTime"placeholder="HH:mm:ss" required />
      </div>
      <div>
        <label for="endTime">To: </label>
        <input type="time" id="endTime" name="input" ng-model="endTime" placeholder="HH:mm:ss" required />

      </div>
      <div class="form-group">
        <label for="breakType">Break Type</label>
        <select class="form-control" id="breakType" ng-model="breakType">
          <option>Blue</option>
          <option>White</option>
        </select>
      </div>
      <div class="form-group">
        <label for="themeFile">Set custom theme for App</label>
        <input type="file" class="form-control-file" id="themeFile" aria-describedby="fileHelp" ng-model="themeFile">
        <small id="fileHelp" class="form-text text-muted">Choose a image or picture to set as backgound image or theme for your app profile.</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>
